@model List<IsraaSystem.Application.HumanResource.EmployeeDto>
<table class="table table-striped table-bordered table-hover order-column" id="sample_1">
    <thead>
        <tr role="row" class="heading">
            <th class="text-nowrap" style="">الرقم الوظيفي    </th>
            <th class="text-nowrap" style="min-width: 150px">الاسم بالعربية كاملاُ</th>
            <th class="text-nowrap" style="min-width: 150px">الاسم بالانجليزية كاملاُ</th>
            <th class="text-nowrap" style="min-width: 100px">الجنس</th>
            <th class="text-nowrap" style="min-width: 150px">تاريخ الميلاد</th>
            <th class="text-nowrap" style="min-width: 150px">رقم الهوية</th>

            <th class="text-nowrap" style="min-width: 150px">الحالة الإجتماعية</th>
            <th class="text-nowrap" style="min-width: 150px">عدد الأبناء</th>
            <th class="text-nowrap" style="min-width: 150px">العنوان كاملاً</th>
            <th class="text-nowrap" style="min-width: 150px">الجوال</th>
            <th class="text-nowrap" style="min-width: 150px">الايميل الجامعي</th>

            <th class="text-nowrap" style="min-width: 150px">البريد الالكتروني</th>
            <th class="text-nowrap" style="min-width: 150px">الحالة</th>
            <th class="text-nowrap" style="min-width: 150px">تاريخ بدء الحالة</th>
            <th class="text-nowrap" style="min-width: 150px">تاريخ نهاية الحالة</th>



            @*<th class="text-nowrap" style="min-width: 150px">الدائرة</th>
            <th class="text-nowrap" style="min-width: 150px">القسم</th>
            <th class="text-nowrap" style="min-width: 150px">الشعبة</th>
            <th class="text-nowrap" style="min-width: 150px">المسؤول المباشر</th>
            <th class="text-nowrap" style="min-width: 150px">نوع التعيين</th>
            <th class="text-nowrap" style="min-width: 150px"> تاريخ بدء التعيين</th>*@


            <th class="text-nowrap" style="min-width: 150px"> تاريخ نهاية التعيين</th>
            <th class="text-nowrap" style="min-width: 200px"> الدوام الافتراضي</th>

            <th class="text-nowrap" style="min-width: 150px">المؤهل العلمي الأخير</th>
            <th class="text-nowrap" style="min-width: 150px">التخصص</th>


            <th class="text-nowrap" style="min-width: 150px">دولة التخرج</th>
            <th class="text-nowrap" style="min-width: 150px">الجامعة</th>
            <th class="text-nowrap" style="min-width: 150px">سنة التخرج</th>
            
            <th class="text-nowrap" style="min-width: 150px">نوع التوظيف</th>
            <th class="text-nowrap" style="min-width: 150px">الدائرة</th>
            <th class="text-nowrap" style="min-width: 150px">القسم</th>
            <th class="text-nowrap" style="min-width: 150px">الشعبة</th>
            <th class="text-nowrap" style="min-width: 150px">المسؤول المباشر</th>
            <th class="text-nowrap" style="min-width: 150px">الكادر</th>
            <th class="text-nowrap" style="min-width: 150px">حالة الانتساب</th>
            <th class="text-nowrap" style="min-width: 150px">نوع الانتساب</th>
            <th class="text-nowrap" style="min-width: 150px">المسمى الوظيفي</th>
            <th class="text-nowrap" style="min-width: 150px"> متفرغ؟</th>


        </tr>

    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>@item.EmployeeNo</td>
            <td>@item.ArName</td>
            <td>@item.EnName</td>
            <td>@item.Gender</td>
            <td>@item.DateOfBirth</td>
            <td>@item.SSN</td>

            <td>@item.MaritalStatus</td>
            <td>@item.ChildrensCount</td>
            <td>@item.Address</td>
            <td>@item.Mobile</td>
            <td>@item.UniversityEmail</td>

            <td>@item.Email</td>
            <td>@item.EmployeeStatus</td>
            <td>@item.StartDateEmpStatus</td>
            <td>@item.EndDateEmpStatus</td>

            <td>@item.EndDateEmpEmploymentType</td>
            <td>@item.AttendanceDefault</td>

            <td>@item.Qualification</td>
            <td>@item.Specialization</td>

            <td>@item.QualificationCountryName</td>
            <td>@item.QualificationUniversityName</td>
            <td>@item.QualificationYear</td>
            @*empplacment*@
            <td class="text-nowrap" style="min-width: 150px">@item.EmploymentType</td>
            @if (@item.employeePlacementDto != null )
            {
                <td class="text-nowrap" style="min-width: 150px">@item.employeePlacementDto.CollegeName</td>
                <td class="text-nowrap" style="min-width: 150px">@item.employeePlacementDto.DepartmentName</td>
                <td class="text-nowrap" style="min-width: 150px">@item.employeePlacementDto.SectionName</td>
                <td class="text-nowrap" style="min-width: 150px">@item.employeePlacementDto.ManagerName</td>

                <td>@item.employeePlacementDto.CaderName</td>
                <td>@item.employeePlacementDto.PlacementStatus</td>
                <td>@item.employeePlacementDto.PlacementType</td>
                <td>@item.employeePlacementDto.JobTitle</td>
            }
            else
            {
                <td class="text-nowrap" style="min-width: 150px"></td>
                <td class="text-nowrap" style="min-width: 150px"></td>
                <td class="text-nowrap" style="min-width: 150px"></td>
                <td class="text-nowrap" style="min-width: 150px"></td>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
            }

            <td>@item.IsFullTime</td>


            @*empplacment*@


        </tr>
        }


    </tbody>
</table>


<script>

    TableDatatablesScroller.init();
</script>


