@using System.Data
@using IsraaSystem.Core.Classic.HumanResource.EmployeePlacement
@using IsraaSystem.Core.Classic.HumanResource.Vacation
@model System.Data.DataTable

@{
  Layout = null;
  DataTable dtEmployeePersonal = (DataTable)ViewBag.dtEmployeePersonal;
  string City = ViewBag.City.ToString();

  VacationBalanceVM vacationBalanceVm = (VacationBalanceVM)ViewBag.vacationBalanceVm;

  EmployeePlacementVM vmeEmployeePlacement = (EmployeePlacementVM)ViewBag.vmeEmployeePlacement;

}

<div id="employee-page">
  @*<script type="text/javascript">
        setMenu('#menu-employee-home');
    </script>*@
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light bordered">
        <div class="portlet-title tabbable-line">
          <div class="caption caption-md">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase">ملف الموظف</span>
          </div>
          <div class="actions">
            <div class="btn-group ">
              <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true">
                إجراءات
                <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li>


                  @Ajax.ActionLink("ارسال كلمة مرور جديدة", "SendNewPassword", new{ employeeId= @Model.Rows[0]["EmployeeID"].ToString() }, new AjaxOptions
             {
               HttpMethod = "Post",
               OnSuccess= "showToast('تم تغيير كلمة المرور', 'success');",
               OnFailure ="showToast('خطأ في العملية', 'danger');",
               Confirm ="هل انت متأكد من ارسال كلمة مرور جديدة للموظف",
        
             }, new { @class = "btn btn-default" })

                </li>
              </ul>
            </div>
          </div>

        </div>
        <div class="portlet-body">
          <div class="tab-content">
            <!-- PERSONAL INFO TAB -->
            <div class="tab-pane active" id="tab_1_1">
              <div class="row">
                <div class="col-md-8 profile-info">
                  <h1 class="font-green sbold uppercase">@Model.Rows[0]["EmployeeName"].ToString() </h1>
                  <hr />

                  @if (vmeEmployeePlacement.data.Rows.Count > 0)
                  {
                    <p>
                      <span class=" bold text-info">@vmeEmployeePlacement.data.Rows[0]["DepartmentName"] &nbsp; &nbsp; </span> @Model.Rows[0]["JobTitle"].ToString()
                    </p>


                    <p>
                      @vmeEmployeePlacement.data.Rows[0]["PlacementStatus"].ToString() &nbsp;  @vmeEmployeePlacement.data.Rows[0]["PlacementType"].ToString() &nbsp; من &nbsp; @vmeEmployeePlacement.data.Rows[0]["DateFrom"].ToString() &nbsp; الى &nbsp; @vmeEmployeePlacement.data.Rows[0]["DateTo"].ToString()
                    </p>

                  }



                  <hr />

                  <ul class="list-inline">
                    <li>
                      <i class="fa fa-map-marker"></i> @City
                    </li>
                    <li>
                      <i class="fa fa-mobile"></i> @dtEmployeePersonal.Rows[0]["Mobile"].ToString()
                    </li>
                    <li>
                      <i class="fa fa-mobile-phone"></i> @dtEmployeePersonal.Rows[0]["Phone"].ToString()
                    </li>
                    <li>
                      <i class="fa fa-inbox"></i> @dtEmployeePersonal.Rows[0]["Email"].ToString()
                    </li>

                  </ul>
                </div>
                <!--end col-md-8-->
                <div class="col-md-4">
                  <div class="portlet sale-summary">
                    <div class="portlet-title">
                      <div class="caption font-red sbold"> رصيد اجازات متبقي </div>
                      <div class="tools">
                        <a class="reload" href="javascript:;" data-original-title="" title=""> </a>
                      </div>
                    </div>
                    <div class="portlet-body">
                      <ul class="list-unstyled">



                        @foreach (DataRow row in vacationBalanceVm.data.Rows)
                        {
                          <li>
                            <span class="sale-info">
                              @row["VacationType"]
                            </span>
                            <span class="sale-num pull-right"> @row["RemainingDays"] </span>


                          </li>


                        }



                      </ul>
                    </div>
                  </div>
                </div>
                <!--end col-md-4-->
              </div>
            </div>
            <!-- END PERSONAL INFO TAB -->
            <!-- CHANGE AVATAR TAB -->
            <div class="tab-pane" id="tab_1_2">
              <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                eiusmod.
              </p>
              <form action="#" role="form">
                <div class="form-group">
                  <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                      <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                    <div>
                      <span class="btn default btn-file">
                        <span class="fileinput-new"> Select image </span>
                        <span class="fileinput-exists"> Change </span>
                        <input type="file" name="...">
                      </span>
                      <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                    </div>
                  </div>
                  <div class="clearfix margin-top-10">
                    <span class="label label-danger">NOTE! </span>
                    <span>Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
                  </div>
                </div>
                <div class="margin-top-10">
                  <a href="javascript:;" class="btn green"> Submit </a>
                  <a href="javascript:;" class="btn default"> Cancel </a>
                </div>
              </form>
            </div>
            <!-- END CHANGE AVATAR TAB -->
            <!-- CHANGE PASSWORD TAB -->
            <div class="tab-pane" id="tab_1_3">
              <form action="#">
                <div class="form-group">
                  <label class="control-label">Current Password</label>
                  <input type="password" class="form-control" />
                </div>
                <div class="form-group">
                  <label class="control-label">New Password</label>
                  <input type="password" class="form-control" />
                </div>
                <div class="form-group">
                  <label class="control-label">Re-type New Password</label>
                  <input type="password" class="form-control" />
                </div>
                <div class="margin-top-10">
                  <a href="javascript:;" class="btn green"> Change Password </a>
                  <a href="javascript:;" class="btn default"> Cancel </a>
                </div>
              </form>
            </div>
            <!-- END CHANGE PASSWORD TAB -->
            <!-- PRIVACY SETTINGS TAB -->
            <div class="tab-pane" id="tab_1_4">
              <form action="#">
                <table class="table table-light table-hover">
                  <tr>
                    <td> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus.. </td>
                    <td>
                      <div class="mt-radio-inline">
                        <label class="mt-radio">
                          <input type="radio" name="optionsRadios1" value="option1" /> Yes
                          <span></span>
                        </label>
                        <label class="mt-radio">
                          <input type="radio" name="optionsRadios1" value="option2" checked /> No
                          <span></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon </td>
                    <td>
                      <div class="mt-radio-inline">
                        <label class="mt-radio">
                          <input type="radio" name="optionsRadios11" value="option1" /> Yes
                          <span></span>
                        </label>
                        <label class="mt-radio">
                          <input type="radio" name="optionsRadios11" value="option2" checked /> No
                          <span></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon </td>
                    <td>
                      <div class="mt-radio-inline">
                        <label class="mt-radio">
                          <input type="radio" name="optionsRadios21" value="option1" /> Yes
                          <span></span>
                        </label>
                        <label class="mt-radio">
                          <input type="radio" name="optionsRadios21" value="option2" checked /> No
                          <span></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon </td>
                    <td>
                      <div class="mt-radio-inline">
                        <label class="mt-radio">
                          <input type="radio" name="optionsRadios31" value="option1" /> Yes
                          <span></span>
                        </label>
                        <label class="mt-radio">
                          <input type="radio" name="optionsRadios31" value="option2" checked /> No
                          <span></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                </table>
                <!--end profile-settings-->
                <div class="margin-top-10">
                  <a href="javascript:;" class="btn red"> Save Changes </a>
                  <a href="javascript:;" class="btn default"> Cancel </a>
                </div>
              </form>
            </div>
            <!-- END PRIVACY SETTINGS TAB -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>