@using System.Data
@model IsraaSystem.Core.Classic.HumanResource.Salary.EmployeeDeductionVM

@{
  Layout = null;
}

<div id="employee-deduction">
  <div id="refresh-list"></div>
  @{
    AjaxOptions opt = new AjaxOptions
    {
      InsertionMode = InsertionMode.ReplaceWith,
      HttpMethod = "POST",
      UpdateTargetId = "employee-deduction"
    };
  }
  @using (Ajax.BeginForm("List", null, opt, new { @id = "form-employee-deduction" }))
  {
    <div class="form">
      <div class="form-horizontal">
        @Html.AntiForgeryToken()
        <div class="form-body">
          <div class="form-group">
            <label class="col-md-2 control-label">الموظف</label>
            <div class="col-md-3">
              @Html.TextBoxFor(model => model.filter.EmployeeName, new { @class = "form-control text-center input-change", placeholder = "رقم أو اسم الموظف" })
            </div>
            <label class="col-md-1 control-label">الخصمية</label>
            <div class="col-md-3">
              @Html.DropDownListFor(model => model.filter.DeductionID, new SelectList(Model.filter.Deductions, "Value", "Text"), "جميع الخصميات", new { @class = "form-control select2 input-change" })
            </div>
            <div class="col-md-2">
              @Html.DropDownListFor(model => model.pagging.pageSize, new SelectList(new Dictionary<string, int> { { "25", 25 }, { "50", 50 }, { "75", 75 }, { "100", 100 } }, "Key", "Value"), new { @class = "form-control pull-right", onchange = "$('#current-page').val('1');$(this).submit();" })
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">من</label>
            <div class="col-md-3">
              @Html.TextBoxFor(model => model.filter.DateFrom, new { @class = "form-control date-picker text-center", placeholder = "التاريخ" })
            </div>
            <label class="col-md-1 control-label">إلى</label>
            <div class="col-md-3">
              @Html.TextBoxFor(model => model.filter.DateTo, new { @class = "form-control date-picker text-center", placeholder = "التاريخ" })
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn blue">تصفية</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    if (Model.data != null && Model.data.Rows.Count > 0)
    {
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="wp3">#</th>
            <th class="wp8 text-center">رقم الموظف</th>
            <th class="wp15">اسم الموظف</th>
            <th class="wp10">الراتب الأساسي</th>
            <th class="wp8 text-center">من</th>
            <th class="wp8 text-center">إلى</th>
            <th class="wp8 text-center">الخصمية</th>
            <th class="wp10 text-center">عدد الأيام</th>
            <th class="wp10 text-center">قيمة الخصمية</th>
            <th class="wp15 text-center">مرحل من شهر سابق</th>
            <th class="wp5 text-center"></th>
          </tr>
        </thead>

        <tbody>
          @foreach (DataRow row in Model.data.Rows)
          {
            <tr>
              <td>@row["RowNo"]</td>
              <td class="text-center">@row["EmployeeNo"]</td>
              <td><a href="/HumanResource/Employee/Index/@row["EmployeeID"]">@row["EmployeeName"]</a></td>
              <td class="text-center">@row["BasicSalaryAmount"]</td>
              <td class="text-center">@row["DateFrom"]</td>
              <td class="text-center">@row["DateTo"]</td>
              <td class="text-center">@row["DeductionName"]</td>
              <td class="text-center">@row["DeductionDays"]</td>
              <td class="text-center">@row["Amount"]</td>
              <td class="text-center">@row["PostponeDays"]</td>
              <td class="text-center">
                @if (@row["DeductionID"].ToString() == "1")
                {
                  <a href="/HumanResource/EmployeeDeduction/Edit/@row["ID"]" class="btn btn-sm btn-primary pop-up-lg"><span class="fa fa-edit"></span></a>

                }
                <a href="/HumanResource/EmployeeDeduction/Delete/@row["ID"]" class="btn btn-sm btn-danger confirm" data-title="حذف خصمية موظف" data-msg="هل أنت متأكد من أنك تود حذف الخصمية من الموظف ؟" data-action="حذف" data-ajax-update="#refresh-list"><span class="fa fa-times"></span></a>
              </td>
            </tr>
          }
        </tbody>
      </table>
      @Html.Partial("_paging", Model.pagging)
    }
    else
    {
      <div class="alert alert-info alert-dismissible text-center" role="alert">
        <span>لا يوجد بيانات لعرضها</span>
      </div>
    }
  }
</div>