@using System.Data
@model IsraaSystem.Core.Classic.HumanResource.EmployeeLanguage.EmployeeLanguageVM

@{
    Layout = null;
}

<div id="employee-page">
    @if (TempData["toast-msg"] != null)
    {
        int status = Convert.ToInt32(TempData["toast-msg"].ToString().Split(';')[0]);
        String msg = TempData["toast-msg"].ToString().Split(';')[1];
        <script type="text/javascript">
            showToast("@msg", "@((status > 0) ? "success":"error")");
        </script>
    }
    <script type="text/javascript">
        setMenu('#menu-employee-language');
    </script>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">لغات الموظف</span>
                    </div>
                    <div class="actions">
                        <a href="/HumanResource/EmployeeLanguage/EmployeeAdd?empId=@Model.filter.EmployeeID" class="btn btn-primary pop-up-md">إضافة بيانات جديدة</a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            @if (Model.data != null && Model.data.Rows.Count > 0)
                            {
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th class="wp5">#</th>
                                            <th class="wp20 text-center">اللغة</th>
                                            <th class="wp15 text-center">مستوى القراءة</th>
                                            <th class="wp15 text-center">مستوى الكتابة</th>
                                            <th class="wp15 text-center">مستوى التحدث</th>
                                            <th class="wp30"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (DataRow row in Model.data.Rows)
                                        {
                                            <tr>
                                                <td>@row["RowNo"]</td>
                                                <td class="text-center">@row["LanguageName"]</td>
                                                <td class="text-center">@row["ReadingKnowLevel"]</td>
                                                <td class="text-center">@row["WritingKnowLevel"]</td>
                                                <td class="text-center">@row["ConversationKnowLevel"]</td>
                                                <td class="text-center">
                                                    <a href="/HumanResource/EmployeeLanguage/EmployeeEdit/@row["ID"]" class="btn btn-sm btn-primary pop-up-md"><i class="fa fa-edit"></i> تعديل</a>
                                                    <a href="/HumanResource/EmployeeLanguage/Delete/@row["ID"]" class="btn btn-sm btn-danger confirm" data-title="حذفة لغة" data-msg="هل أنت متأكد من أنك تود حذف اللغة ؟" data-action="حذف" data-ajax-update="#employee-page"><i class="fa fa-times"></i> حذف</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div class="alert alert-info alert-dismissible text-center" role="alert">
                                    <span>لا يوجد بيانات لعرضها</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>