@using IsraaSystem.Application.Helper
@model IsraaSystem.Web.Areas.Repository.Models.export.DistributionExportVM

@{
    Layout = null;
}

<div id="add-Export" class="modal-content">

    @{
        AjaxOptions opt = new AjaxOptions
        {
            InsertionMode = InsertionMode.ReplaceWith,
            HttpMethod = "POST",
            UpdateTargetId = "add-Export",
            OnSuccess = "ModelHideFormSubmit"
        };
    }


    @Html.Partial("_Alerts")
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">صرف من المخزن</h4>
    </div>
    <div class="modal-body modal-form">
        <div class="portlet-body form">
            @using (Ajax.BeginForm("DistributionExport", "Export", opt, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-body">
                  
                    <div class="form-group">
                        <label class="col-md-3 control-label">اسم الصنف</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.ExportDto.Material.Name, new { @class = "form-control" })
                            @Html.HiddenFor(model => model.TransactionDto.MaterialId)
                            @Html.HiddenFor(model => model.TransactionDto.ExportId)
                           
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="col-md-3 control-label">الكمية المتوفرة</label>
                        <div class="col-md-8">
                            @Html.TextBox("qunti", quntity, new { @class = "form-control text-center", @readonly = "readonly" })
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label class="col-md-3 control-label">القسم</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.TransactionDto.DepartmentId, DropDownHelpper.DepartmentsSelected(Model.TransactionDto.MaterialId), "اختر القسم", new { @class = "form-control select2"})
                            @Html.ValidationMessageFor(model => model.TransactionDto.DepartmentId, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">الكمية الصادرة</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.TransactionDto.Quantity, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TransactionDto.Quantity, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                
                   
                    <div class="form-group">
                        <label class="col-md-3 control-label">فعال</label>
                        <div class="col-md-8">
                            @Html.CheckBoxFor(model => model.TransactionDto.IsActive, new { @data_toggle = "toggle", @class = "toggle-checkbox" })
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-8">

                            <input id="submit" type="submit" class="btn btn-primary" value="حفظ">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">إلغاء</button>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>


<script>
  $(function () {

    $('.toggle-checkbox').bootstrapToggle();

  });

  function ModelHideFormSubmit () {
    $('.modal').modal('hide');

  }
  //var ddl = $("#MaterialId");

  //ddl.change(function (e) {
  //    $.ajax({
  //        type: "POST",
  //        url: "/Repository/Export/MaterialDepartment?id=" + ddl.val(),
  //        contentType: "application/json; charset=utf-8",
  //        data: '{}',
  //        dataType: "json",
  //        success: function (response) {
  //            $("#Department").val(response.model);
  //        },
  //        error: function (xhr, status, error) {
  //            $("#Department").val("حدث خطأ ما !");
  //        }
  //    });
  //});

</script>
