@using IsraaSystem.Application.Helper
@model IsraaSystem.Application.Administration.OrganizationUnit.DepartmentDto
@{
    Layout = null;
}

<div id="edit-department" class="modal-content">
    @{
        AjaxOptions opt = new AjaxOptions
        {
            InsertionMode = InsertionMode.ReplaceWith,
            HttpMethod = "POST",
            UpdateTargetId = "edit-department",
            OnSuccess = "ModelHideFormSubmit"
        };
    }
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">تعديل قسم</h4>
    </div>
    <div class="modal-body modal-form">
        <div class="portlet-body form">
            @using (Ajax.BeginForm("Edit", "OrganizationUnit", opt, new { @class = "form-horizontal" }))
            {
                @Html.Partial("_Alerts")
                @Html.AntiForgeryToken()
                <div class="form-body">
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.ParentID)
                    <div class="form-group">
                        <label class="col-md-3 control-label">اسم القسم</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.ArName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ArName, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">تابع للقسم</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.ParentID, DropDownHelpper.HumanResourceDepartments(), "اختر القسم التابع له ", new { @class = "form-control select2"})
                            @Html.ValidationMessageFor(model => model.ParentID, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">نوع القسم</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.DepartmentTypeID, DropDownHelpper.HumanResourceDepartmentTypes(), "اختر نوع القسم ", new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.DepartmentTypeID, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">فعال</label>
                        <div class="col-md-8">
                            @Html.CheckBoxFor(model => model.IsActive, new { @data_toggle = "toggle", @class = "toggle-checkbox" })
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-8">
                            <input id="submit" type="submit" class="btn btn-primary" value="حفظ">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">إلغاء</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>


<script>
    $.validator.unobtrusive.parse($("form"));

    $(function () {

        $('.toggle-checkbox').bootstrapToggle();

    });

    function ModelHideFormSubmit() {
        $('.modal').modal('hide');
    }


</script>
