@using IsraaSystem.Application.Helper
@using IsraaSystem.Application.HumanResource
@model IsraaSystem.Application.Repository.transaction.TransactionDto
@{
    Layout = null;
}

<div id="add-TransactionRestoration" class="modal-content">

    @{
        AjaxOptions opt = new AjaxOptions
        {
            InsertionMode = InsertionMode.ReplaceWith,
            HttpMethod = "POST",
            UpdateTargetId = "add-TransactionRestoration",
            OnSuccess = "ModelHideFormSubmit"
        };
    }
    @Html.Partial("_Alerts")
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">إرجاع مواد للمورد</h4>
    </div>
    <div class="modal-body modal-form">
        <div class="portlet-body form">
            @using (Ajax.BeginForm("AddRestoration", "Transaction", opt, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">نوع الحركة</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.TransactionTypeId, DropDownHelpper.TransactionTypes(), "اختر نوع الحركة", new { @class = "form-control select2", @disabled = "true" })
                            @Html.ValidationMessageFor(model => model.TransactionTypeId, "", new { @class = "text-danger help-block" })
                            @Html.HiddenFor(model => model.TransactionTypeId)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">تاريخ الحركة</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.TransactionDate, new { @class = "form-control date-picker" })
                            @Html.ValidationMessageFor(model => model.TransactionDate, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div id="Supplier" class="form-group">
                        <label class="col-md-3 control-label">الى المورد </label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.SupplierId, DropDownHelpper.Suppliers(), "اختر المورد", new { @class = "form-control select2", @id = "SupplierId", @data_toggle = "toggle" })
                            @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">فعال</label>
                        <div class="col-md-8">
                            @Html.CheckBoxFor(model => model.IsActive, new { @data_toggle = "toggle", @class = "toggle-checkbox" })
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-8">

                            <input id="submit" type="submit" class="btn btn-primary" value="حفظ">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">إلغاء</button>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>


<script>
    $.validator.unobtrusive.parse($("form"));

    $(function () {

        $('.toggle-checkbox').bootstrapToggle();

    });

    function ModelHideFormSubmit() {
        $('.modal').modal('hide');

    }
    $(document).ready(function () {
        $('#SupplierId').on('change.bootstrapSwitch', function (e) {
            if (e.target.checked == true) {
                $('#DepartmentId').slideToggle("slow");
            }
            else {
                $('#DepartmentId').slideToggle("slow");
            }
        });
    });
    $(document).ready(function () {
        $('#Department').on('change.bootstrapSwitch', function (e) {
            if (e.target.checked == true) {
                $('#Supplier').slideToggle("slow");
            }
            else {
                $('#Supplier').slideToggle("slow");
            }
        });

        $('.date-picker').datepicker();
    });

</script>