@model IsraaSystem.Core.Classic.HumanResource.EmployeeIdentifier.EmployeeIdentifier

@{
    Layout = null;
}

<div id="edit-employee-identifier" class="modal-content">
    @if (TempData["add-msg"] != null)
    {
        int status = Convert.ToInt32(TempData["add-msg"].ToString().Split(';')[0]);
        String msg = TempData["add-msg"].ToString().Split(';')[1];
        <script type="text/javascript">
            showToast("@msg", "@((status > 0) ? "success":"error")");
        </script>
        if (status > 0)
        {
            <script type="text/javascript">
               $('.modal').modal('hide');
                $("#employee-page").load("/HumanResource/EmployeeIdentifier/EmployeeList/@Model.EmployeeID");
            </script>
        }
    }
    @{
        AjaxOptions opt = new AjaxOptions
        {
            InsertionMode = InsertionMode.ReplaceWith,
            HttpMethod = "POST",
            UpdateTargetId = "edit-employee-identifier"
        };
    }

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">تعديل المعرف : @Model.ArFirstName</h4>
    </div>
    <div class="modal-body modal-form">
        <div class="portlet-body form">
            @using (Ajax.BeginForm("EmployeeEdit", null, opt, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-body">
                    <div class="form-group">
                        @Html.HiddenFor(model => model.EmployeeID)
                        <label class="col-md-2 control-label">الإسم رباعي</label>
                        <div class="col-md-2">
                            @Html.TextBoxFor(model => model.ArFirstName, new { @class = "form-control text-center" })
                            @Html.ValidationMessageFor(model => model.ArFirstName, "", new { @class = "text-danger help-block" })
                        </div>
                        <div class="col-md-2">
                            @Html.TextBoxFor(model => model.ArSecoundName, new { @class = "form-control text-center" })
                        </div>
                        <div class="col-md-2">
                            @Html.TextBoxFor(model => model.ArThirdName, new { @class = "form-control text-center" })
                        </div>
                        <div class="col-md-2">
                            @Html.TextBoxFor(model => model.ArFamilyName, new { @class = "form-control text-center" })
                            @Html.ValidationMessageFor(model => model.ArFamilyName, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">عمل المعرف</label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.IdentifierJob, new { @class = "form-control text-center" })
                        </div>
                        <label class="col-md-2 control-label">هاتف المعرف</label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control text-center" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">جوال المعرف</label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control text-center" })
                        </div>
                        <label class="col-md-2 control-label">ايميل المعرف</label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control text-center" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">عنوان المعرف</label>
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.AddressDetails, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <input type="submit" class="btn btn-primary" value="حفظ">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">إلغاء</button>
                            <a href="/HumanResource/EmployeeIdentifier/EmployeeAdd?empId=@Model.EmployeeID" class="btn btn-success pull-right" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace-with" data-ajax-update="#add-employee-identifier">معرف جديد</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>