@model IsraaSystem.Core.Classic.HumanResource.EmployeeResearch.EmployeeResearch

@{
    Layout = null;
}

<div id="edit-employee-research" class="modal-content">

    @if (TempData["add-msg"] != null)
    {
        int status = Convert.ToInt32(TempData["add-msg"].ToString().Split(';')[0]);
        String msg = TempData["add-msg"].ToString().Split(';')[1];
        <script type="text/javascript">
            showToast("@msg", "@((status > 0) ? "success":"error")");
        </script>

        if (status > 0)
        {
            <script type="text/javascript">
                $('.modal').modal('hide');
                $("#employee-page").load("/HumanResource/EmployeeResearch/EmployeeList/@Model.EmployeeID");
            </script>
        }

    }
    @{
        AjaxOptions opt = new AjaxOptions
        {
            InsertionMode = InsertionMode.ReplaceWith,
            HttpMethod = "POST",
            UpdateTargetId = "edit-employee-research"
        };
    }



    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">تعديل البحث العلمي</h4>
    </div>
    <div class="modal-body modal-form">
        <div class="portlet-body form">
            @using (Ajax.BeginForm("EmployeeEdit",null, opt, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-body">
                    <div class="form-group">
                        @Html.HiddenFor(model => model.EmployeeID)
                        <label class="col-md-3 control-label">عنوان البحث</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.ResearchTitle, new { @class = "form-control text-center", placeholder = "عنوان البحث" })
                            @Html.ValidationMessageFor(model => model.ResearchTitle, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">الجهة المقدم لها</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.ResearchOrganization, new { @class = "form-control text-center", placeholder = "الجهة المقدم لها" })
                            @Html.ValidationMessageFor(model => model.ResearchOrganization, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">تاريخ البحث</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.ResearchDate, new { @class = "form-control text-center date-picker", placeholder = "تاريخ البحث" })
                            @Html.ValidationMessageFor(model => model.ResearchDate, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">نبذة مختصرة عن البحث</label>
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.ResearchDetails, new { @class = "form-control text-center" })
                            @Html.ValidationMessageFor(model => model.ResearchDetails, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-8">
                            <input type="submit" class="btn btn-primary" value="حفظ">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">إلغاء</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>