@model IsraaSystem.Core.Classic.Academic.Section.SectionInstructorEdit
@{
    Layout = null;
}

<div id="edit-lecture" class="modal-content">
    <div id="delete-lecture"></div>
    @if (TempData["edit-msg"] != null)
    {
        int status = Convert.ToInt32(TempData["edit-msg"].ToString().Split(';')[0]);
        String msg = TempData["edit-msg"].ToString().Split(';')[1];
        <script type="text/javascript">
          showToast("@msg", "@((status > 0) ? "success":"error")");
        </script>
        if (status > 0)
        {
            <script type="text/javascript">
              $('#study-table-refresh').trigger('click');
              $('#student-study-table-refresh').trigger('click');
              $('#instructor-study-table-refresh').trigger('click');
              $('#room-study-table-refresh').trigger('click');
              $('#course-study-table-refresh').trigger('click');
              $('.modal').modal('hide');
            </script>
        }
    }
    <div class="modal-header tabbable-line modal-header-tabbable-line">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="nav nav-tabs font-ta">
            <li>
                <a href="/Academic/Lecture/Edit/@Model.ID" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace-with" data-ajax-update="#edit-lecture">تعديل الموعد</a>
            </li>
            <li class="active">
                <a href="/Academic/Lecture/InstructorEdit/@Model.ID" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace-with" data-ajax-update="#edit-lecture">تعديل المحاضر</a>
            </li>
            <li>
                <a href="/Academic/Lecture/InstructorEdit/@Model.ID" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace-with" data-ajax-update="#edit-lecture">طلاب الشعبة</a>
            </li>
        </ul>
    </div>
  <div class="modal-body modal-form">
    <div class="portlet-body form">
      @{
        AjaxOptions opt = new AjaxOptions
        {
          InsertionMode = InsertionMode.ReplaceWith,
          HttpMethod = "POST",
          UpdateTargetId = "edit-lecture"
        };
      }
      @using (Ajax.BeginForm("InstructorEdit", null, opt, new { @class = "form-horizontal" }))
      {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        <div class="form-body">
          <div class="form-group">
            <label class="control-label col-md-3">المساق :</label>
            <div class="col-md-8">
              @Html.TextBoxFor(model => model.CourseName, new { @class = "form-control", @readonly = "readonly" })
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3">الشعبة :</label>
            <div class="col-md-8">
              @Html.TextBoxFor(model => model.SectionNum, new { @class = "form-control", @readonly = "readonly" })
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">محاضر الشعبة</label>
            <div class="col-md-8">
              @Html.DropDownListFor(model => model.InstructorID, new SelectList(Model.Instructors, "Value", "Text"), "اختر محاضر الشعبة", new { @class = "form-control select2" })
              @Html.ValidationMessageFor(model => model.InstructorID, "", new { @class = "text-danger help-block" })
            </div>
          </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-2 col-md-10">
              <button type="submit" id="btn-edit-lecture" class="btn btn-primary">حفظ</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">إلغاء</button>

              <div class="pull-right">
                @Html.CheckBoxFor(model => model.IsPined, new {@class = "CheckBoxPin"})

                <a href="/Academic/Lecture/Delete/@Model.ID" id="btn-delete-lecture" class="btn btn-danger " data-ajax="true" data-ajax-method="Post" data-ajax-mode="replace-with" data-ajax-update="#delete-lecture">حذف المحاضرة</a>

              </div>



            </div>
          </div>
        </div>
      }
    </div>
  </div>
  <script>
    $(initPin());
  </script>
</div>