@model IsraaSystem.Core.Classic.HumanResource.Job.Job

@{
    Layout = null;
}

<div id="add-job" class="modal-content">
    @if (TempData["add-msg"] != null)
    {
        int status = Convert.ToInt32(TempData["add-msg"].ToString().Split(';')[0]);
        String msg = TempData["add-msg"].ToString().Split(';')[1];
        <script type="text/javascript">
            showToast("@msg", "@((status > 0) ? "success":"error")");
        </script>
        if (status > 0)
        {
            <script type="text/javascript">
                $('.modal').modal('hide');
                $("#jobs").load("/HumanResource/Job/List");
            </script>
        }
    }
    @{
        AjaxOptions opt = new AjaxOptions
        {
            InsertionMode = InsertionMode.ReplaceWith,
            HttpMethod = "POST",
            UpdateTargetId = "add-job"
        };
    }
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">إضافة وظيفة جديدة</h4>
    </div>
    <div class="modal-body modal-form">
        <div class="portlet-body form">
            @using (Ajax.BeginForm("Add", null, opt, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">المسمى الوظيفي</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.JobTitle, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">الهدف العام من الوظيفة</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.JobGoal, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.JobGoal, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">ع. الموظفين المطلوب</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.EmployeeCount, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EmployeeCount, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">القسم</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.DepartmentID, new SelectList(Model.Departments, "Value", "Text"), "إختر القسم", new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">كادر الوظيفة</label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.CaderID, new SelectList(Model.Caders, "Value", "Text"), "إختر الكادر", new { @class = "form-control ddl-dependent", data_url = "/HumanResource/Job/ddlCaderDegree/", data_target_id = "#CaderDegreeID" })
                            @Html.ValidationMessageFor(model => model.CaderID, "", new { @class = "text-danger help-block" })
                        </div>
                        <label class="col-md-2 control-label">فئة الوظيفة</label>
                        <div class="col-md-3">
                            @Html.Partial("ddlCaderDegree", Model)
                            @Html.ValidationMessageFor(model => model.CaderDegreeID, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">الوظيفة المسؤولة</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.ManagerJobID, new SelectList(Model.ManagerJobs, "Value", "Text"), "إختر المسئول المباشر", new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.ManagerJobID, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">علاقة الوظيفة بالوظائف الأخرى</label>
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.OtherJobRelation, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OtherJobRelation, "", new { @class = "text-danger help-block" })
                        </div>
                        <label class="col-md-3 control-label">فعال</label>
                        <div class="col-md-8">
                            @Html.CheckBoxFor(model => model.IsActive)
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="submit" class="btn btn-primary">إضافة</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">إلغاء</button>
                            <a href="/HumanResource/Job/Add" class="btn btn-success pull-right" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace-with" data-ajax-update="#add-job">وظيفة جديدة</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>