@using System.Data
@model IsraaSystem.Core.Classic.HumanResource.EmpStatus.EmpStatusVM

@{
  Layout = null;
}
<div id="console-event"></div>
<div id="emp-status">
  <div id="refresh-list"></div>
  @{
    AjaxOptions opt = new AjaxOptions
    {
      InsertionMode = InsertionMode.ReplaceWith,
      HttpMethod = "POST",
      UpdateTargetId = "emp-status"
    };
  }
  @using (Ajax.BeginForm("List", "EmpStatus", opt, new { @id = "form-emp-status" }))
  {
    <div class="form">
      <div class="form-horizontal">
        @Html.AntiForgeryToken()
        <div class="form-body">
          <div class="form-group">
            <label class="col-md-2 control-label">الموظف</label>
            <div class="col-md-3">
              @Html.TextBoxFor(model => model.filter.EmployeeName, new { @class = "form-control text-center input-change", placeholder = "رقم أو اسم الموظف" })
            </div>
            <label class="col-md-1 control-label">حالة الموظف</label>
            <div class="col-md-3">
              @Html.DropDownListFor(model => model.filter.EmployeeStatusID, new SelectList(Model.filter.EmployeeStatuses, "Value", "Text"), "جميع حالات الموظف", new { @class = "form-control input-change" })
            </div>
            <div class="col-md-1">
              <button type="submit" class="btn blue">تصفية</button>
            </div>
            <div class="col-md-offset-1  col-md-1 ">
              @Html.DropDownListFor(model => model.pagging.pageSize, new SelectList(new Dictionary<string, int> { { "25", 25 }, { "50", 50 }, { "75", 75 }, { "100", 100 } }, "Key", "Value"), new { @class = "form-control pull-right", onchange = "$('#current-page').val('1');$(this).submit();" })
            </div>
          </div>

        </div>
      </div>
    </div>
    <br />
    if (Model.data != null && Model.data.Rows.Count > 0)
    {
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="wp5">#</th>
            <th class="wp12 text-center">رقم الموظف</th>
            <th class="wp20 text-center">اسم الموظف</th>
            <th class="wp25 text-center">الجنس</th>
            <th class="wp12 text-center">مراقب</th>
            <th class="wp12 text-center"> الفرع</th>

          </tr>
        </thead>
        <tbody>
          @foreach (DataRow row in Model.data.Rows)
          {
            <tr>
              <td>@row["RowNo"]</td>
              <td class="text-center">@row["EmployeeNo"]</td>
              <td class="text-center"><a href="/HumanResource/Employee/Index/@row["EmployeeID"]">@row["EmployeeName"]</a></td>
              <td class="text-center">@row["GenderName"]</td>
              <td class="text-center">

                @if (@row["IsObserver"].ToString() == "True")
                {
                  <input class="toggle-IsObserver" EmployeeID=@row["EmployeeID"] type="checkbox" checked data-toggle="toggle" data-on="نعم" data-off="لا">

                }
                else
                {
                  <input class="toggle-IsObserver" EmployeeID=@row["EmployeeID"] type="checkbox" data-toggle="toggle" data-on="نعم" data-off="لا">

                }
              </td>


              <td class="text-center">
                @if (@row["ObserverBranchID"].ToString() == "2")
                {
                  <input class="toggle-ObserverBranch" EmployeeID=@row["EmployeeID"] type="checkbox" checked data-toggle="toggle" data-on="يافا" data-off="زهراء" data-onstyle="success">

                }
                else
                {
                  <input class="toggle-ObserverBranch" EmployeeID=@row["EmployeeID"] type="checkbox" data-toggle="toggle" data-on="يافا" data-off="زهراء" data-onstyle="success">

                }
              </td>



            </tr>
          }
        </tbody>
      </table>
      @Html.Partial("_paging", Model.pagging)
    }
    else
    {
      <div class="alert alert-info alert-dismissible text-center" role="alert">
        <span>لا يوجد بيانات لعرضها</span>
      </div>
    }
  }
</div>



<script>
  $(function () {

    $('.toggle-ObserverBranch').bootstrapToggle();
    $('.toggle-IsObserver').bootstrapToggle();


    $('.toggle-IsObserver').change(function () {
      $('#console-event').html('Toggle: ' + $(this).attr('EmployeeID'));


      $.post("Observer/EmployeeObserverUpdate",
        {
          EmployeeID: $(this).attr('EmployeeID'),
          IsObserver: $(this).prop('checked')

        },
        function (data, status) {
          if (status == "success") {
            showToast("تمت العملية بنجاح", "success");
          } else {
            showToast("خطأ داخلي !", "danger");
          }
        });


    });


    $('.toggle-ObserverBranch').change(function () {
      $('#console-event').html('Toggle: ' + $(this).attr('EmployeeID'));


      $.post("Observer/EmployeeObserverUpdate",
        {
          EmployeeID: $(this).attr('EmployeeID'),
          ObserverBranchID: $(this).prop('checked')
        },
        function (data, status) {
          if (status == "success") {
            showToast("تمت العملية بنجاح", "success");
          } else {
            showToast("خطأ داخلي !", "danger");
          }
          //alert("Data: " + data + "\nStatus: " + status);
        });


    });


  })
</script>