@using System.Data
@model IsraaSystem.Core.Classic.HumanResource.EmployeeEmergencyInfo.EmployeeEmergencyInfoVM

@{
    Layout = null;
}

<div id="employee-emergency-info">
    @if (TempData["toast-msg"] != null)
    {
        int status = Convert.ToInt32(TempData["toast-msg"].ToString().Split(';')[0]);
        String msg = TempData["toast-msg"].ToString().Split(';')[1];
        <script type="text/javascript">
            showToast("@msg", "@((status > 0) ? "success":"error")");
        </script>
    }
    @{
        AjaxOptions opt = new AjaxOptions
        {
            InsertionMode = InsertionMode.ReplaceWith,
            HttpMethod = "POST",
            UpdateTargetId = "employee-emergency-info"
        };
    }

    @using (Ajax.BeginForm("List", "EmployeeEmergencyInfo", opt, new { @id = "form-employee-emergency-info" }))
    {
        <div class="form">
            <div class="form-horizontal">
                @Html.AntiForgeryToken()
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label">الاسم رباعي</label>
                        <div class="col-md-2">
                            @Html.TextBoxFor(model => model.filter.ArFirstName, new { @class = "form-control text-center", placeholder = "الاسم الأول" })
                        </div>
                        <div class="col-md-2">
                            @Html.TextBoxFor(model => model.filter.ArSecoundName, new { @class = "form-control text-center", placeholder = "الاسم الثاني" })
                        </div>
                        <div class="col-md-2">
                            @Html.TextBoxFor(model => model.filter.ArThirdName, new { @class = "form-control text-center", placeholder = "الاسم الثالث" })
                        </div>

                        <div class="col-md-2">
                            @Html.TextBoxFor(model => model.filter.ArFamilyName, new { @class = "form-control text-center", placeholder = "اسم العائلة" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">الاسم رباعي</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.filter.RelativeTypeID, new SelectList(Model.filter.RelativeTypes, "Value", "Text"), "صلات القرابة", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-3">
                            <button type="submit" class="btn blue">تصفية</button>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="wp5">#</th>
                        <th class="wp20">الإسم رباعي</th>
                        <th class="wp15 text-center">صلة القرابة</th>
                        <th class="wp15 text-center">الجوال</th>
                        <th class="wp45 text-center">العنوان</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.data.Rows)
                    {
                        <tr>
                            <td>@row["RowNo"]</td>
                            <td>@row["Name"]</td>
                            <td class="text-center">@row["RelativeType"]</td>
                            <td class="text-center">@row["Mobile"]</td>
                            <td class="text-center">@row["AddressDetails"]</td>

                        </tr>
                    }
                </tbody>
            </table>
            @Html.Partial("_paging", Model.pagging)
        </div>
    }
</div>