@model IsraaSystem.Entity.HumanResource.Salary.DeductionType
@{
    Layout = null;
}

<div id="edit-deduction-type" class="modal-content">
    @if (TempData["add-msg"] != null)
    {
        int status = Convert.ToInt32(TempData["add-msg"].ToString().Split(';')[0]);
        String msg = TempData["add-msg"].ToString().Split(';')[1];
        <script type="text/javascript">
            showToast("@msg", "@((status > 0) ? "success":"error")");
        </script>
        if (status > 0)
        {
            <script type="text/javascript">
                $('.modal').modal('hide');
                $("#deduction-types").load("/HumanResource/DeductionType/List");
            </script>
        }
    }
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">تعديل بيانات نوع الخصمية</h4>
    </div>
    <div class="modal-body modal-form">
        <div class="portlet-body form">
            @{
                AjaxOptions opt = new AjaxOptions
                {
                    InsertionMode = InsertionMode.ReplaceWith,
                    HttpMethod = "POST",
                    UpdateTargetId = "edit-deduction-type"
                };
            }
            @using (Ajax.BeginForm("Edit", null, opt, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label">نوع الخصمية</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" class="btn btn-primary">تعديل</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">إلغاء</button>
                            <a href="/HumanResource/DeductionType/Add" class="btn btn-success pull-right" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace-with" data-ajax-update="#edit-deduction-type">نوع خصمية جديدة</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>