@using IsraaSystem.Application.Helper
@using IsraaSystem.Application.HumanResource
@using IsraaSystem.DataAccess.Sql.HumanResource
@model IsraaSystem.Application.Repository.custodyDetails.CustodyDetailsDto
@{
    Layout = null;
}


<div id="Edit-Custody" class="modal-content">
    @{
        AjaxOptions opt = new AjaxOptions
        {
            InsertionMode = InsertionMode.ReplaceWith,
            HttpMethod = "POST",
            UpdateTargetId = "Edit-Custody",
            OnSuccess = "ModelHideFormSubmit"
        };
    }
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">تعديل </h4>
    </div>
    <div class="modal-body modal-form">
        <div class="portlet-body form">
            @using (Ajax.BeginForm("EditMovmentCustody", "CustodyDetails", opt, new { @class = "form-horizontal" }))
            {
                @Html.Partial("_Alerts")
                @Html.AntiForgeryToken()
                <div class="form-body">


                    <div class="form-group">
                        <label class="col-md-3 control-label">نوع العهدة</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.CustodyTypeId, DropDownHelpper.CustodyType(), "اختر التصنيف", new { @class = "form-control select2", @disabled = "true" })
                            @Html.ValidationMessageFor(model => model.CustodyTypeId, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">تاريخ نقل العهدة</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.CustodyDate, new { @class = "form-control date-picker" })
                            @Html.ValidationMessageFor(model => model.CustodyDate, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">الجهة الطالبة</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.DepartmentId, SelectDA.ddlDepartments(), "اختر الجهة الطالبة", new { @class = "form-control select2" ,@disabled = "true" })
                            @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">من الموظف</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.EmployeeId, SelectDA.ddlEmployees(), "اختر الموظف", new { @class = "form-control select2", @disabled = "true" })
                            @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">الى الموظف</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.ToEmployeeId, SelectDA.ddlEmployees(), "اختر الموظف", new { @class = "form-control select2", @disabled = "true" })
                            @Html.ValidationMessageFor(model => model.ToEmployeeId, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">الصنف</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.MaterialId, DropDownHelpper.GetMaterialByEmployee(Model.EmployeeId), "اختر الصنف", new { @class = "form-control select2", @disabled = "true" })
                            @Html.ValidationMessageFor(model => model.MaterialId, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">الكمية </label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", @disabled = "true" })
                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">ملاحظات</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Notes, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">عهدة مؤقتة</label>
                        <div class="col-md-3">
                            @Html.CheckBoxFor(model => model.CustodyStatus, new { @id = "CustodyStatus", @data_toggle = "toggle", @class = "toggle-checkbox" })
                        </div>
                    </div>
                    <div id="ReturnCustody" class="form-group">
                        <label class="col-md-3 control-label">تاريخ ارجاع العهدة </label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.DateOfReturnCustody, new { @class = "form-control date-picker" })
                            @Html.ValidationMessageFor(model => model.DateOfReturnCustody, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">حالة الطلب</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.RequestStatusId, DropDownHelpper.RequestStatus(), "اختر الحالة", new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.RequestStatusId, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">فعال</label>
                        <div class="col-md-8">
                            @Html.CheckBoxFor(model => model.IsActive, new { @data_toggle = "toggle", @class = "toggle-checkbox" })
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-8">

                            <input id="submit" type="submit" class="btn btn-primary" value="حفظ">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">إلغاء</button>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>


<script>
    $.validator.unobtrusive.parse($("form"));

    $(function () {

        $('.toggle-checkbox').bootstrapToggle();

    });

    function ModelHideFormSubmit() {
        $('.modal').modal('hide');

    }

    $(document).ready(function () {
       
        $('.date-picker').datepicker();

    });
</script>
