@using IsraaSystem.Application.HumanResource
@using IsraaSystem.Application.Helper
@using IsraaSystem.Application.Repository.custodyDetails
@using IsraaSystem.DataAccess.Sql.HumanResource
@model IsraaSystem.Application.Repository.custodyDetails.CustodyDetailsService.GetAllInput



@{
    ViewBag.Title = "ادارة المخازن - عهد الموظفين";
    ViewBag.Menu = "#menu-RepositoryCustody";
    Layout = "~/Views/Shared/_LayoutHorizontalMenu.cshtml";
}

@section PageBreadcrumb{
    <li>
        <a href="/Repository/material">الرئيسية</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/Repository/material">حركات المخزن</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a>عهد الموظفين</a>
    </li>
}
<div id="refresh-list"></div>
<div class="row">
    <div class="col-md-12">
        <div>
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-social-dribbble font-green"></i>
                        <span class="caption-subject font-green bold uppercase">عهد الموظفين</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                            <a class="btn red btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown">
                                <i class="icon-settings "></i>
                                <span class="hidden-xs"> ادوات </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right" id="sample_3_tools">
                                <li>
                                    <a href="javascript:;" data-action-class="buttons-print" class="tool-action">
                                        <i class="icon-printer"></i> طباعة
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-action-class="buttons-copy" class="tool-action">
                                        <i class="icon-check"></i> نسخ
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-action-class="buttons-pdf" class="tool-action">
                                        <i class="icon-doc"></i> PDF
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-action-class="buttons-excel" class="tool-action">
                                        <i class="icon-paper-clip"></i> Excel
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-action-class="buttons-csv" class="tool-action">
                                        <i class="icon-cloud-upload"></i> CSV
                                    </a>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    @*<div class="form">
                            <div class="form-horizontal">
                                <div class="form-body ">
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">
                                            القسم:
                                        </label>
                                        <div class="col-md-4">

                                            @Html.DropDownList("DepartmentId",
                                                new SelectList(SelectDA.ddlDepartments(), "Value", "Text"),
                                                "الكل",
                                                new
                                                {
                                                    @class = "form-control select2 cascadingDropDown form-filter",
                                                })
                                        </div>
                                        <label class="col-md-1 control-label">
                                            الموظف:
                                        </label>
                                        <div class="col-md-4">

                                            @Html.DropDownList("EmployeeId",
                                                new SelectList(SelectDA.ddlEmployees(), "Value", "Text"),
                                                "الكل",
                                                new
                                                {
                                                    @class = "form-control select2 cascadingDropDown form-filter",
                                                })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-1 col-md-offset-1">
                                            <button id="btnSearch" type="submit" class="btn btn-block default">تصفية</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>*@
                    <table class="table table-striped table-bordered table-hover " id="datatable_ajax">
                        <thead>

                            <tr role="row" class="heading">
                                <th class="text-nowrap">الموظف</th>
                                <th class="text-nowrap">الصنف</th>
                                <th class="text-nowrap">الكمية</th>
                                <th class="text-nowrap">فعال</th>
                                <th class="text-nowrap">أدوات</th>

                            </tr>
                            <tr role="row" class="heading">
                                <th>
                                    @Html.DropDownListFor(model => model.EmployeeId, SelectDA.ddlEmployees(), "اختر", new { @class = "Select2 form-filter form-control" })

                                </th>
                                <th>
                                    @Html.DropDownListFor(model => model.MaterialName, DropDownHelpper.Materials(), "اختر", new { @class = "Select2 form-filter form-control" })
                                </th>
                                <th>
                                    @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control form-filter input-xsmall" })
                                </th>
                                <th>
                                    <select id="IsActive" name="IsActive" class="form-filter form-control input-xsmall">
                                        <option>اختر</option>
                                        <option value="1">فعال</option>
                                        <option value="0">غير فعال</option>
                                    </select>
                                </th>
                                <th>
                                    <button id="btnSearch" class="btn-block btn btn-sm green  filter-submit margin-bottom-5">
                                        <i class="fa fa-search"></i> بحث
                                    </button>
                                    <button class=" btn-block btn btn-sm red btn-outline filter-cancel">
                                        <i class="fa fa-times"></i> افراغ
                                    </button>
                                </th>
                            </tr>
                        </thead>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>



@section PageStyles {
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap-rtl.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <!-- END PAGE LEVEL PLUGINS -->

    <style>
        .dt-button-collection {
            width: 50% !important;
        }

            .dt-button-collection a {
                width: 49% !important;
                float: left !important;
            }

        div.dt-button-collection {
            border: 1px solid #d4c1c1 !important;
            box-shadow: unset !important;
            padding: 0 !important;
        }

        .filter {
            background-color: cornsilk;
        }


        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            background-color: #ffffff !important;
        }

        #israa-table {
            margin: unset;
        }
    </style>
}

@section PagePlugins {
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="http://cdn.datatables.net/plug-ins/1.10.19/dataRender/datetime.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.nestable.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
}

@section PageScripts {

    <!-- BEGIN PAGE LEVEL SCRIPTS -->

    <script src="~/Areas/Repository/Scripts/custodyDetails/IndexRepositoryCustody.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->


}
