@model IsraaSystem.Core.Classic.HumanResource.AttendanceExit.AttendanceExitDelete

@{
    Layout = null;
}
<div id="delete-exit-permission" class="modal-content">
    @if (TempData["delete-msg"] != null)
    {
        int status = Convert.ToInt32(TempData["delete-msg"].ToString().Split(';')[0]);
        String msg = TempData["delete-msg"].ToString().Split(';')[1];
        <script type="text/javascript">
            showToast("@msg", "@((status > 0) ? "success":"error")");
        </script>
        if (status > 0)
        {
            <script type="text/javascript">
                $('.modal').modal('hide');
                $('#form-attendance-exit').submit();
            </script>
        }
    }
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">حذف طلب الإذن</h4>
    </div>
    <div class="modal-body modal-form">
        <div class="portlet-body form">
            @{
                AjaxOptions opt = new AjaxOptions
                {
                    InsertionMode = InsertionMode.ReplaceWith,
                    HttpMethod = "POST",
                    UpdateTargetId = "delete-exit-permission"
                };
            }
            @using (Ajax.BeginForm("Delete", "AttendanceExit", opt, new { @class = "form-horizontal" }))
            {

                @Html.AntiForgeryToken()
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label">سبب الحذف</label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.DeleteReason, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DeleteReason, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-danger">حذف</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">إلغاء</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
