@using System.Data
@model IsraaSystem.Core.Classic.HumanResource.EmployeeTrainingCourse.EmployeeTrainingCourseVM

@{
    Layout = null;
}

<div id="employee-training-course">
    @if (TempData["toast-msg"] != null)
    {
        int status = Convert.ToInt32(TempData["toast-msg"].ToString().Split(';')[0]);
        String msg = TempData["toast-msg"].ToString().Split(';')[1];
        <script type="text/javascript">
            showToast("@msg", "@((status > 0) ? "success":"error")");
        </script>
    }
    @{
        AjaxOptions opt = new AjaxOptions
        {
            InsertionMode = InsertionMode.ReplaceWith,
            HttpMethod = "POST",
            UpdateTargetId = "employee-training-course"
        };
    }

    @using (Ajax.BeginForm("List", "EmployeeTrainingCourse", opt, new { @id = "form-employee-training-course" }))
    {
        <div class="form">
            <div class="form-horizontal">
                @Html.AntiForgeryToken()
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label">اسم الكورس</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.filter.CourseName, new { @class = "form-control text-center", placeholder = "اسم الكورس" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-3">
                            <button type="submit" class="btn blue">تصفية</button>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="wp5">#</th>
                        <th class="wp20">اسم الكورس</th>
                        <th class="wp20 text-center">المؤسسة</th>
                        <th class="wp20 text-center">التخصص</th>
                        <th class="wp35 text-center">عدد الساعات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.data.Rows)
                    {
                        <tr>
                            <td>@row["RowNo"]</td>
                            <td>@row["CourseName"]</td>
                            <td class="text-center">@row["CourseOrganisers"]</td>
                            <td class="text-center">@row["CourseSpecialization"]</td>
                            <td class="text-center">@row["CourseHours"]</td>

                        </tr>
                    }
                </tbody>
            </table>
            @Html.Partial("_paging", Model.pagging)
        </div>
    }
</div>