@model IsraaSystem.Core.Classic.HumanResource.Salary.BasicSalary

@{
    Layout = null;
}

<div id="edit-basic-salary" class="modal-content">
    @if (TempData["add-msg"] != null)
    {
        int status = Convert.ToInt32(TempData["add-msg"].ToString().Split(';')[0]);
        String msg = TempData["add-msg"].ToString().Split(';')[1];
        <script type="text/javascript">
            showToast("@msg", "@((status > 0) ? "success":"error")");
        </script>
        if (status > 0)
        {
            <script type="text/javascript">
                $('.modal').modal('hide');
                $('#form-basic-salary').submit();
            </script>
        }
    }
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">تعديل راتب الموظف</h4>
    </div>
    <div class="modal-body modal-form">
        <div class="portlet-body form">
            @{
                AjaxOptions opt = new AjaxOptions
                {
                    InsertionMode = InsertionMode.ReplaceWith,
                    HttpMethod = "POST",
                    UpdateTargetId = "edit-basic-salary"
                };
            }
            @using (Ajax.BeginForm("Edit", null, opt, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label">الموظف</label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.EmployeeID, new SelectList(Model.Employees, "Value", "Text"), "إختر الموظف", new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger help-block" })
                        </div>
                        <label class="col-md-2 control-label">الصندوق</label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.SalaryBoxID, new SelectList(Model.SalaryBoxes, "Value", "Text"), "إختر الصندوق", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SalaryBoxID, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">العملة</label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.CurrencyID, new SelectList(Model.Currencies, "Value", "Text"), "إختر العملة", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CurrencyID, "", new { @class = "text-danger help-block" })
                        </div>
                        <label class="col-md-2 control-label">قيمة الراتب</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Amount, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">من</label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.DateFrom, new { @class = "form-control text-center date-picker", placeholder = "yyyy/MM/dd" })
                            @Html.ValidationMessageFor(model => model.DateFrom, "", new { @class = "text-danger help-block" })
                        </div>
                        <label class="col-md-2 control-label">إلى</label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.DateTo, new { @class = "form-control text-center date-picker", placeholder = "yyyy/MM/dd" })
                            @Html.ValidationMessageFor(model => model.DateTo, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" class="btn btn-primary">حفظ</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">إلغاء</button>
                            <a href="/HumanResource/BasicSalary/Add" class="btn btn-success pull-right" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace-with" data-ajax-update="#edit-basic-salary">راتب موظف جديد</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>